apache-beam[gcp]
dataclasses
frozendict
pandas
scikit-learn
tensorflow
tf-models-official==2.8.0
# tf-models-official==2.10.1
# Kaggle required by tf-models-official is incompatible with py36 from slugify
kaggle
tensorflow-probability
tf_slim
nltk
beautifulsoup4
html5lib
gensim
lxml
